.bannerBox {
  margin: 0 auto;
  margin-top: 140px;
  position: relative;
  z-index: 100000;
  min-width: 1280px;
  max-width: 1900px;
}

.colorBg,
.imageBg {
  width: 25%;
  height: 500px;
  position: relative;
}

.colorBg {
  background: #69bfb9;
}

.imageBg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contBox {
  position: absolute;
  bottom: 30px;
  color: #fff;
}

.leftBox {
  left: 30px;
}

.rightBox {
  right: 30px;
  text-align: right;
}

.rightBox .pageBtn {
  float: right;
}

.contTit {
  position: relative;
  line-height: 30px;
  margin: 20px 0;
  font-size: 20px;
  text-shadow: 0px 0px 4px #5b5b5b;
}

.contTit::before {
  position: absolute;
  width: 36px;
  height: 3px;
  top: -10px;
  border-radius: 1px;
  content: " ";
  display: block;
  width: 40px;
}
.leftBox .contTit::before {
  left: 0;
}
.rightBox .contTit::before {
  right: 0;
}
.imageBg .contTit::before {
  background: #69bfb9;
}
.colorBg .contTit::before {
  background: #fff;
}
.descriptionBox {
  position: relative;
  z-index: 1000;
  background-image: url(../images/bg-people.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  box-shadow: rgb(0 0 0 / 14%) 0 10px 20px 0px;
}
.desCont {
  width: 1200px;
  margin: 0 auto;
}
.desTit {
  font-size: 20px;
}
.desCont h1 {
  position: relative;
  color: #69bfb9;
  font-size: 76px;
  margin-top: 20px;
}
.desCont h1::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  top: 0;
  left: 0;
  background: #69bfb9;
}
.desCont h2 {
  font-size: 20px;
  padding: 30px 0 20px 0;
}
.desCont p {
  font-size: 15px;
  font-weight: 400;
  color: #181818;
  margin-bottom: 15px;
  line-height: 26px;
}
.desCont ul,
.desCont li {
  list-style: disc;
}
.desCont ul {
  padding-left: 20px;
}
.desCont li {
  line-height: 26px;
}
.caseShareBox {
  position: relative;
  z-index: 100;
  padding: 80px 0;
  font-family: Oswald;
  box-shadow: rgb(0 0 0 / 14%) 0 10px 20px 0px;
  min-width: 1280px;
  max-width: 1900px;
  margin: 0 auto;
}
.caseShareCont {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(24, 24, 24, 0.1);
}
.caseIcon {
  text-align: center;
  width: 180px;
  margin-right: 20px;
}
.caseIcon img {
  display: block;
  width: 95px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.shareDes {
  margin-bottom: 10px;
  font-size: 12px;
}
.shareTit {
  font-size: 20px;
  font-weight: 600;
}
.caseTxt {
  font-size: 20px;
  margin-left: 30px;
}
.caseTxt h2 {
  position: relative;
  font-size: 80px;
  font-weight: 700;
  margin-top: 26px;
  padding-top: 10px;
}
.caseTxt h2::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  top: 0;
  left: 0;
  background: #181818;
}
.caseList{
  min-width: 1280px;
}
.caseList li{
  margin-right: 12px;
}
.listGap{
  justify-content: space-between;
}
.listGap .caseShareItem{
  margin-right:0;
  width: 24.5%;
}